
<div class="flex justify-center font-bold ">
<%= link_to "Log Out"%>

<div class="w-3/4 overflow-x-auto">
<div class="whitespace-nowrap">lorem lorem eum natus enim maxime
      laudantium quibusdam illo nihil eum natus enim maxime
      laudantium quibusdam illo nihil ada
      </div>
<% if @user%>
<%=@user.email%>
</div>
<% end %>